.theme-dark .favicon:not(.svg) {
    filter: none !important;
}
.tab-position .tab .favicon { 
    background-color: transparent !important; 
}


.sync-and-trash-container {
    visibility: hidden;
}

.win.normal #tabs-tabbar-container.top, .linux.normal #tabs-tabbar-container.top {
    padding-top: 0px;
}

button.vivaldi {
    padding: 0;
    height: 30px;
}

/*
button.vivaldi {
    visibility: hidden;
}

.linux #tabs-container:not(.none).top {
    padding-left: 30px;
}
*/

